.price-component{
    background-color: #e0f7e0;
    margin-top: 1rem;
    border-radius: 20px;
}

.price-component > h1 {
    font-size: 3rem;
    text-decoration: underline;
}


.price-component > h2 {
    font-size: 3rem;
    padding: 1rem 1rem;
    text-align: justify;
}

.item-price > img{
    border: 2px solid black;
    border-radius: 20%;
    background-color: white;
    width: 10vb;
    height: 10vh;
    margin: 1rem 1rem;
    padding: 0.2rem 0.2rem;
}

@media screen and (max-width: 1000px) {
    .item-price img{
        width: 5vb;
        height: 5vh;
        border: 2px solid black;
    }
    
}

