body {
    padding: 0px;
    margin: 0px;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 5rem;
    margin: 0rem 0rem;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .left {
        padding: 1rem 1rem;
    }
}

@media screen and (max-width: 768px) {
    .left {
        padding: 0rem 1rem;
    }
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 768px) {
    .home {
        flex-wrap: wrap;
        padding-bottom: 2rem;
    }

}

.home-text>span {
    -webkit-text-fill-color: transparent;
    font-family: inherit;
    font-weight: 800;
    background: linear-gradient(90deg, rgb(10, 155, 26) 0px, rgb(23, 113, 140)) text;
}

.secondary-home-text {
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin: 0.5rem;
    justify-content: center;
    z-index: 1;
    -webkit-text-fill-color:black;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
}

@media screen and (max-width: 768px) {
    .secondary-home-text {
        font-size: 15px;
    }
}

.dispose-logo-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25em;
    height: 15em;
    padding: 1.5rem 1.5rem;
}

@media screen and (max-width: 768px) {
    .dispose-logo-image {
        width: 15em;
        height: 10em;
    }
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 7em 10em;

}

@media screen and (max-width: 1000px) {
    .right {
        padding: 2rem 3rem;
    }
}

@media screen and (max-width: 768px) {
    .right {
        padding: 1rem 1rem;
    }
}

.phone-number-box {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px 10px rgba(0, 255, 0, 0.5);
    z-index: 1;
    -webkit-text-fill-color:black;
    background-color: rgba(103, 196, 16, 0.5);
    border-radius: 40px;
}

@media screen and (max-width: 768px) {
    .phone-number-box {
        width: 100%;
    }
}

.phone-number-box:nth-child(1) {
    align-items: flex-start;

}

.phone-number-box h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(91, 91, 91);
    padding: 0rem 1rem;
    margin-top: 1.5rem;
}

@media screen and (max-width: 768px) {
    .phone-number-box h1 {
        font-size: 1rem;
    }
}

.phone-number-box h3 {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(91, 91, 91);
    padding: 1rem 2rem;
}

@media screen and (max-width: 768px) {
    .phone-number-box h3 {
        font-size: 0.8rem;
    }
}

.home-text {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    z-index: 1;
    -webkit-text-fill-color:black;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
}

@media screen and (max-width: 768px) {
    .home-text {
        font-size: 30px;
    }
}

.phone-input {
    display: flex;
    align-items: center;
    border: 3px solid #ccc;
    margin: 0.7rem 1.5rem;
    border-radius: 10px;
    width: 400px;
}

@media screen and (max-width: 768px) {
    .phone-input {
        width: 100%;
        margin: 0.5rem 0.5rem;
        width: 300px;
    }
}

.phone-prefix {
    font-weight: bold;
    margin-right: 5px;
}

@media screen and (max-width: 768px) {
    .phone-prefix {
        font-size: 0.8rem;
    }
}

.phone-number {
    flex-grow: 1;
    border: none;
    outline: none;
    overflow: hidden;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(91, 91, 91);
}

@media screen and (max-width: 768px) {
    .phone-number {
        font-size: 0.8rem;
        margin: 0.5rem 0.5rem;
        padding: 0.5rem 0.5rem;
    }
}

.phone-number::placeholder {
    font-size: 1.1rem;
}

.schedule-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 2;
    padding: 0.1rem 3rem;
    margin: 1rem 1rem;
}

.schedule-button p {
    margin: 0.5rem 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
    .schedule-button {
        width: 100%;
        margin: 0rem 0rem;
        padding: 0rem 0rem;
    }
}

.schedule-button p a {
    text-decoration: none;
    background-color: rgb(17, 180, 17);
    padding: 0.2rem;
    border-radius: 10px;
}

.button {
    padding: 2rem;
    margin: 1rem 1rem;
    font-size: 2rem;
}

@media screen and (max-width: 768px) {
    .button {
        padding: 0.5rem 0.5rem;
        margin: 0.5rem 0.5rem;
    }

}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.home {
    position: relative;
    overflow: hidden;
}

.content {
    position: relative; /* Make sure content stays above the video */
    z-index: 1; /* Ensure content is above the video */

}